<turbo-stream action="replace" target="typingtest">
<template>
<div class="flex flex-col self-center static">
  <p class="self-center text-3xl text-blue-300">WPM:</p>
  <p class="self-center text-6xl font-mono text-pink-400"><%= test_entry.wpm %></p>

  <p class="self-center text-3xl text-blue-300 mt-12">ACC:</p>
  <p class="self-center text-6xl font-mono text-pink-400"><%= test_entry.accuracy %>%</p>
  <a href="/" tabindex="0" autofocus class="mt-20 self-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
  </a>
  <% if !user_signed_in? %>
    <div id="alert-1" class="flex p-4 mb-4 bg-blue-100 rounded-lg dark:bg-blue-200 mt-8" role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-blue-700 dark:text-blue-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium text-blue-700 dark:text-blue-800">
        <a href="/users/sign_in" class="font-semibold underline hover:text-blue-800 dark:hover:text-blue-900">Sign in </a>to save your results.
      </div>
    </div>
  <% end %>
</div>
</template>
</turbo-stream>