<%# <h1>hoalalalla</h1> %>
<div class="center p-6 max-w-sm bg-blue-900 rounded-lg border shadow-md">
  <% @testwords.each do |word|%>
        <span class="text-white">
        <%= word %>
        </span>
  <% end %>
</div>