<turbo-frame data-controller="typingtest" data-action="keypress->typingtest#type 
  focusin->typingtest#focusin focusout->typingtest#focusout"
  tabindex="0" id="typingtest" class="flex flex-col"
  class="static">

  <div class="caret absolute w-0.5 h-8 bg-blue-600 invisible blink"></div>

  <h2 class="text-3xl text-pink-400 pl-16 font-mono pb-4 timer">30</h2>

  <%= render ('home/test') %>

  <a data-action="typingtest#refresh" href="/" class="mt-8 self-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
  </a>
  <a href="/result">result</a>
</turbo-frame>