<div data-controller="typingtest" data-action="keypress->typingtest#type 
  focusin->typingtest#focusin focusout->typingtest#focusout"
  tabindex="0"
  class="static">

  <div class="caret absolute w-0.5 h-8 bg-blue-600 invisible blink"></div>

  <h2 class="text-3xl text-pink-400 pl-16 font-mono pb-4 timer">15</h2>

  <%= render ('home/test') %>

</div>