<tr id="<%= dom_id test_entry %>" class="border-b bg-gray-800 border-gray-700">
  <td class="px-6 py-4 font-medium text-white whitespace-nowrap">
    <%= test_entry.wpm %>
  </td>

  <td class="px-6 py-4 font-medium text-white whitespace-nowrap">
    <%= test_entry.accuracy %>%
  </td>

  <td class="px-6 py-4 font-medium text-white whitespace-nowrap">
    <%= test_entry.created_at.strftime("%F") %>
  </td>

  <%# if action_name != "show" %>
    <%#= link_to "Show this test entry", test_entry, class: "rounded-lg py-3 px-5 inline-block font-medium" %>
    <%#= link_to 'Edit this test entry', edit_test_entry_path(test_entry), class: "rounded-lg py-3 ml-2 px-5 inline-block font-medium" %>
    <%# <hr class="mt-6"> %>
  <%# end %>
</tr>
