<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 shadow-md ">
  <thead class="text-xs uppercase bg-gray-700 text-gray-400">
    <tr>
      <% if !@usernames.nil? %>
      <th scope="col" class="px-6 py-3">User</th>
      <% end %>
      <th scope="col" class="px-6 py-3">WPM</th>
      <th scope="col" class="px-6 py-3">Accuracy</th>
      <th scope="col" class="px-6 py-3">Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @test_entries %>
  </tbody>
</table>