<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing test entry</h1>

  <%= render "form", test_entry: @test_entry %>

  <%= link_to "Show this test entry", @test_entry, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to test entries", test_entries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
