<h1 class="text-5xl mb-12 self-center">Leaderboards</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-2/3 self-center">
  <%= render 'test_entries/times' %>
</div>

<p class="mt-12">
<%= @output %>
</p>
